<!-- File Header
Name: Andre Azevedo
Date: January 21, 2023
Section: CST 8285 section 03
Lab: Assignment 1
File: index.html
Objective: Create a portifolio Website.
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andre Rocha</title>
    <link rel="stylesheet" href="../style/main.css">
</head>

<body>
    <!-- AREA COM MENU -->
      <nav id="menu">
          <ul>
               <li><a href="index.html" target="_parent">HOME</a></li>
               <li><a href="resume.html" target="_parent">RESUME</a></li>
               <li><a href="courses.html" target="_parent">COURSES</a></li>
          </ul>
    </nav>

    <!-- AREA COM INFORMACOES PESSOAIS-->
    <div id="me">
        <img id="photo1" alt="Photo of Andre Rocha" src="../images/Andre1-nobg.png">
        <h1>Andre Rocha</h1><br>
        <div id="about-me">
            <p>
                AKA Karen's <mark>husband</mark>, <mark>father</mark> of Logan, Luke and Oliver, 
                <mark>tech lover</mark>, Marvel and Star Wars <mark>nerd</mark> and <mark>Man City fan</mark>.
                After years surviving as a <mark>musician</mark>, I decided to embrace my nerd-tech-side 
                and become a <mark>software developer</mark>. 
            </p><br>
            <a id="alg" href="https://www.algonquincollege.com/">Algonquin College</a><br>
        </div>
        <img id="fam" alt="Andre and his family" src="../images/family.png">
        <img id="nos" alt="Andre and his wife" src="../images/eueela.png">
        <img id="city" alt="Andre with the city jersey" src="../images/city.png">
    </div>

    <footer>
        <div id="bottom">
            <p>All rights reserved to Andre Rocha ©-2023</p>
       </div>
    </footer>
</body>
</html>