<!-- File Header
Name: Andre Azevedo
Date: January 21, 2023
Section: CST 8285 section 03
Lab: Assignment 1
File: resume.html
Objective: Create a portifolio Website.
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../style/main.css">
    <link rel="stylesheet" href="../style/resume.css"> 
    <title>Resume</title>
</head>
<body>
    <nav id="menu">
          <ul>
               <li><a href="index.html" target="_parent">HOME</a></li>
               <li><a href="resume.html" target="_parent">RESUME</a></li>
               <li><a href="courses.html" target="_parent">COURSES</a></li>
          </ul>
    </nav>
    <div id="info">
        <h1>Andre Rocha</h1>
        <p>Phone: +1 (613) 600-6107 email: azev0015@algonquinlive.com</p>
    </div>
    <div>
        <h2 id="exp">Experience</h2><br>
        <h3>2018-2022 Youth and Worship Pastor</h3><br>
        <ul>
            <li>Leadership and direction for the student ministries</li>
            <li>Development and implementation of music, audio, creative aspects, and stage design</li>
            <li>Development and scheduling of all Sunday Worship Services in partnership with the Senior Pastor</li>
        </ul><br>

        <h3>2016-2018 Technician</h3><br>
        <ul>
            <li>Manufacturing processes of 3D lenses</li>
            <li>Photolithography technician</li>
            <li>IT Technician</li>
        </ul><br>

        <h3>2012-2014 Computer and Sound Reinforcement Technician</h3><br>
        <ul>
            <li>Computer hardware maintenance</li>
            <li>Computer software support</li>
            <li>Soundboard and audio accessories maintenance</li>
            <li>Live audio engineering</li>
        </ul><br>

        <h3>2011-2013 Owner and Music Teacher at RockStudio Music School</h3><br>
        <ul>
            <li>Manage teacher’s schedules</li>
            <li>Payments, receipts, managing files</li>
            <li>Weekly follow-ups with teachers</li>
            <li>Teaching acoustic and electric guitar</li>
        </ul><br>
    </div>
    <div>
        <h2 id="edu">Education</h2><br>
        <h3>2022 - Present: Computer Programming</h3>
        <p>Algonquin College (Expected Graduation August 2024)</p><br>
        <h3>Feb - Oct 2021: Applied Audio Recording</h3>
        <p>The Audio Recording Academy - TARA</p><br>
        <h3>2013 - 2014: Brazilian Popular Music – Undergraduate Program</h3>
        <p>Federal University of Paraíba – UFPB</p><br>
        <h3>2010 - 2011: Computer Technician</h3>
        <p>Microlins - Carrer Formation Centre</p><br>
    </div>
    <div id="project-link">
        <h2 id="projects">Program-Related Projects</h2>
        <a href="https://github.com/andreroazk/My-Health-Data"><img id="git-pic" alt="Github logo" src="../images/github-logo.png">
            <h3>My Health Data</h3>
        </a><br>
        <p>Course: Object Oriented Programming (Java) </p><br>
    </div>

    <div>
        <h2 id="skills">Program-Related Skills</h2><br>
        <ul>
            <li>Programming Languages: Java (OOP)</li>
            <li>Database: MySQL, MS Access, SQL Server</li>
            <li>Web Development: HTML, CSS, Javascript</li>
            <li>Operational Systems: Windows, Linux</li>
        </ul><br>
    </div>

    <div>
        <h2 id="pers">Personal Interest</h2><br>
        <ul>
            <li>Playing video games with my family</li>
            <li>Soccer (both playing and watching)</li>
            <li>Music production and playing guitar</li>
            <li>Movies and TV shows</li>
        </ul><br>
    </div>

    <div>
        <h2 id="vol">Volunteer Work</h2><br>
        <ul>
            <li>Class Representative for Computer Programming</li>
            <li>Music Ministry Leader</li>
            <li>Youth Ministry Leader</li>
            <li>Sound Reinforcement Technician</li>
            <li>Music Ministry Assistant</li>
        </ul><br>
    </div>
    <footer>
        <div id="bottom">
            <p>All rights reserved to Andre Rocha ©-2023</p>
       </div>
    </footer>
</body>
</html>